{% extends "agileHR/index.html" %}

{% block content %}
    <div class="row">
        <div class="column">
            <h2>Computers</h2>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <ul>
            {% for computer in computers %}
                <li><a href="{% url 'agileHR:computer_detail' computer.id %}">{{computer.make}} {{computer.model}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}