{% extends "agileHR/index.html" %}

{% block content %}
  <div class="row">
    <div class="column">
      <h2>{{computer.make}} {{computer.model}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h4>Date Purchased</h4>
      <p>{{computer.purchase_date}}</p>

      {% if computer.retire_date %}
        <h4>Date Retired</h4>
        <p>{{computer.retire_date}}</p>
      {% endif %}

      <h4>Currently assigned to:
      {% if current_assignment %}
        {% for person in current_assignment %}
          {{person.employee.first_name}} {{person.employee.last_name}}
        {% endfor %}
      {% else %}
        <span class="text-success">Available</span>
      {% endif %}

      {% if assignment_history %}
      <h5>Assignment History</h5>
        <ul>
        {% for assignment in assignment_history %}
          <li>{{ assignment.employee.first_name }} {{ assignment.employee.last_name }}<br>
            {{assignment.date_assigned}} – {{assignment.date_revoked}}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
      </h4>

      <a href="{% url 'agileHR:delete_computer' computer.id %}">
        <button class="btn btn-primary" type="button">Delete Computer</button>
      </a>
    </div>
  </div>
{% endblock %}