{% extends "agileHR/index.html" %}

{% comment %}
Displays the main computer page from views.computers.
Author: Sebastian Civarolo
{% endcomment %}


{% block content %}
    <div class="row">
        <div class="col-10">
            <h2>Computers</h2>
        </div>
        <div class="col-2 text-right">
          <a href="{% url 'agileHR:new_computer' %}"class="btn btn-primary text-white">New Computer</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul>
            {% for computer in computers %}
                <li><a href="{% url 'agileHR:computer_detail' computer.id %}">{{computer.make}} {{computer.model}}</a>
                {% for ec in computer.employeecomputer_set.all %}
                    {% if not ec.date_revoked %}
                        — {{ec.employee.first_name}} {{ec.employee.last_name}}
                    {% endif %}
                {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}