{% extends "agileHR/index.html" %}

{% comment %}
Displays the main computer page from views.computers.
Author: Sebastian Civarolo
{% endcomment %}


{% block content %}
    <div class="row">
        <div class="col-10">
            <h2>Computers</h2>
        </div>
        <div class="col-2 text-right">
          <a href="{% url 'agileHR:new_computer' %}"class="btn btn-primary text-white">New Computer</a>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <form action="{% url 'agileHR:computer_search' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name="search_text" id="search_text" placeholder="search by make or model"><button class="input-group-append btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-group">
            {% for computer in computers %}
                <li class="list-group-item list-group-item-action">
                    <span><a href="{% url 'agileHR:computer_detail' computer.id %}">{{computer.make}} {{computer.model}}</a><span>
                {% for ec in computer.employeecomputer_set.all %}
                    {% if not ec.date_revoked %}
                        — {{ec.employee.first_name}} {{ec.employee.last_name}}
                    {% endif %}
                {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}