{% extends "agileHR/index.html" %}
{% load humanize %}

{% block content %}
<div class="card mx-auto" style="width: 50 rem;">
    <div class="card-body">
        <div class="card-title">
            <div class="text-center"><h2>{{department.name|upper}}</h2></div>
        </div>
    <h5><a class="btn btn-outline-secondary" href="{% url 'agileHR:department' %}">Go Back</a></h5>
    <div class="list-group-item bg-light">
        <div class="d-flex w-100 justify-content-between">
            <h4>Budget:</h4>
        </div>
    </div>
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">${{department.budget|intcomma}}</p>
        </div>
    </div>
    <div class="list-group-item bg-light">
        <div class="d-flex w-100 justify-content-between">
            <h4>Current Employees:</h4>
        </div>
    </div>
        {% if employees %}
            {% for emp in employees %}
                <a class="list-group-item list-group-item-action" href="{% url 'agileHR:employee_detail' emp.id %}">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{emp.last_name}}, {{emp.first_name}}</p>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">No employees are assigned to this department.</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}