{% extends "agileHR/index.html" %}

{% block content %}
    <h2>Departments</h2>
    <ul>
    {% for dept in departments %}
        <li>
            {{dept.name|upper}}<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Budget: ${{dept.budget|stringformat:".2f"}}<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employees Assigned: {% if employees.department_id == dept.id %}{{employees.first_name}} {{employees.last_name}}{% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock content %}