<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Bangazon{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bangazon, LLC</a>
        <a class="nav-link" href="{% url 'agileHR:employee' %}">Employees</a>&nbsp;&nbsp;&nbsp;
        <a class="nav-link" href="{% url 'agileHR:department' %}">Departments</a>&nbsp;&nbsp;&nbsp;
        <a class="nav-link" href="{% url 'agileHR:training' %}">Trainings</a>&nbsp;&nbsp;&nbsp;
        <a class="nav-link" href="{% url 'agileHR:computer' %}">Computers</a>&nbsp;&nbsp;&nbsp;
    </nav>
    <br />
    <container> {% block content %} {% endblock content %} </container>
  </body>
</html>
